.task {
  $self: &;

  margin: 15px 0px 0px 0px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;

  &-text {
    font-style: normal;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--color-brown);
    padding: var(--padding-size-s);
    margin: 0px;
  }

  &-checkbox {
    border: 3px solid;

    &:checked {
      &::after {
        content: "✓";
        color: var(--color-brown);
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
      }
    }
  }

  &-box {
    display: flex;
    flex: 1;
    border-radius: 7px;
    justify-content: space-between;
    align-items: center;
  }

  &-buttonbox {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-right: var(--padding-size-m);
  }

  &.color-default {
    --color: var(--color-pink);
  }
  &.color-green {
    --color: var(--color-green);
  }
  &.color-blue {
    --color: var(--color-blue);
  }
  &.color-yellow {
    --color: var(--color-yellow);
  }
  &.color-orange {
    --color: var(--color-orange);
  }
  &.color-lightpink {
    --color: var(--color-lightpink);
  }

  #{ $self }-box {
    background-color: var(--color);
  }

  #{ $self }-checkbox {
    border-color: var(--color);

    &:checked {
      &::after {
        background-color: var(--color);
      }
    }
  }
}

input {
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  flex-wrap: wrap;
  display: flex;
  align-content: center;
  justify-content: center;
}
