:root {
  /* This is what everything looks like on a handheld device */
  --base-font-size: 18px;
  --transition-speed: 0.2s;

  --container-width: 314px;

  --font-family-roboto-regular: "Roboto-Regular";
  --font-family-roboto-light: "Roboto-Light";
  --font-family-roboto-bold: "Roboto-Bold";
  --font-family-roboto-slab: "Roboto-Slab";

  --font-weight-regular: 600;
  --font-weight-bold: 700;

  --font-size-xs: calc(var(--base-size) / 1.6);
  --font-size-sm: calc(var(--base-size) / 1.2);
  --font-size-md: var(--base-size);
  --font-size-lg: calc(var(--base-size) * 1.2);
  --font-size-xl: calc(var(--base-size) * 4);

  --global-size-xs: 10px;
  --global-size-sm: 14px;
  --global-size-md: 16px;
  --global-size-lg: 18px;
  --global-size-xl: 20px;

  --color-white: #fff6ef;
  --color-pink: #f83434;
  --color-brown: #6c5953;
  --color-green: #ceedc7;
  --color-blue: #d7e3fc;
  --color-yellow: #fff4ac;
  --color-orange: #ffd4b2;
  --color-lightpink: #ffc8dd;

  --padding-size-s: 5px;
  --padding-size-m: 10px;
  --padding-size-l: 20px;
}

@media (min-width: 768px) {
  :root {
    --base-font-size: 16px;
  }
}
